@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$font: 'Open Sans', sans-serif;

* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    font-family: $font;
}

span {
	margin-right: 15px;
	display: inline-block;
	height: 25px;
	line-height: 25px;
}

button {
	width: 25px;
	height: 25px;
	padding: 0;
	font-size: 16px;
	margin: 0 5px 5px 0;
}
